* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.section {
  padding: 12rem 2rem;
}

.icon {
  height: 24px;
  width: 24px;
}

.slider {
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 3.25rem;
  cursor: pointer;
  transition: 0.6s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .slider {
    height: 50rem;
  }
  .section {
    padding: 15rem 3rem;
  }
  .slider__btn {
    height: 5.5rem;
    width: 5.5rem;
  }
}
